<?xml version="1.0" encoding="UTF-8"?>
<root>
  <item name="android.app.usage.NetworkStats.Bucket int getDefaultNetworkStatus()">
    <annotation name="androidx.annotation.IntDef">
      <val name="value" val="{android.app.us